<%- include('header') -%>
<h2>About page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quae veniam in esse beatae hic molestias labore vero ratione error, perferendis eveniet nulla! Velit aspernatur excepturi, minima libero dolore possimus, facilis nostrum quis culpa, debitis ratione eius vero corrupti fugit doloribus dolor voluptates totam odit reprehenderit id repellendus. Sit, veritatis!</p>

<%- include('footer')-%>